# Functions for Data Frame Manipulation

#### arrange; select; filter; mutate; summarise; rename; group_by

#### base
sort(), order()

#### plyr
arrange(): sort a dataframe by its columns

mutate(): add new columns or replace existing columns

#### dplyr
group_by(): group data by columns

select(): select columns by name and keep

filter(): select rows satisfying certain conditions

rename(): rename columns

n_distinct(): count number of distinct values

## sort {base}
Sort a vector into ascending ir descending order.

Syntax: sort(x, decresing=FALSE)

In [12]:
# Example 1

v = c(4:5, 7, 1:3, 10)
sort(v, decreasing = TRUE)

[1] 10  7  5  4  3  2  1

## order {base}

Returns a permutation of index which can rearrange its first argument into ascending or descending order.

Syntax: order(x, descreasing=FALSE)

Note: Sort(x) is the same as x[order(x)]

In [23]:
# Example 1
x = c(5:1, 6:8, 12:9)
print("Index")
order(x)
print("Values")
x[order(x)]
print("Sort")
sort(x)

[1] "Index"

 [1]  5  4  3  2  1  6  7  8 12 11 10  9

[1] "Values"

 [1]  1  2  3  4  5  6  7  8  9 10 11 12

[1] "Sort"

 [1]  1  2  3  4  5  6  7  8  9 10 11 12

## Data Transformation with dplyr

### TYPE OF VARIABLES
int: integers

dbl: doubles, or real numbers

chr: character, or strings

dttm: date-times

lgl: logical, vectors that contain only TRUE or FALSE

fctr: factors, which R uses to represent categorical variables with fixed possible values 

date: dates

### FIVE KEY FUNCTIONS IN DPLYR
The following takes a data frame as input and returns a new data frame. Note that dplyr functions never modify its input, so if you want to save the result, use assignment operators.

#### mutate()
Create new variables/columns with functions of existing variables
#### summarise()
Collapse many values down to a singel summary
#### arrange()
Reorder rows by a column
#### select()
Pick variables/columns by their name
#### filter()
Pick observations by their values
#### group_by()
All the above functions can be conjunction with group_by.

### NOTE
1. R either print out the results, or save them to a variable. If you want to do both, you can wrap the assignment in parenthese. 

2. Missing values "NA" are contagious: almost any operation involving unknown values will also be unknown.

## arrange {plyr}

Sort a data frame by its columns. 

Syntax: arrange(df, desc(col))

desc: specifying whether the dataframe should be sorted in asceding or descending order.

#### Note: 

Sort and Order is for vectors, and arrange is for dataframes.

It takes a data frame and a set of column names to order by. If more than one column names are provided, each additional column will be used to break ties in the values of preceding columns.

Missing values are always sorted at the end.

In [5]:
# Example 1
df = data.frame(Letters=LETTERS[1:3], Numbers=1:3)
print(df)

library(plyr)
(df.new = arrange(df, desc(Numbers)))

  Letters Numbers
1       A       1
2       B       2
3       C       3

  Letters Numbers
1 C       3
2 B       2
3 A       1

## mutate {plyr} transmute {dplyr}

Mutate a data frame by adding new or replacing existing columns.

Syntax: mutate(.data, ...)

.data: the dataframe to transform

...: give definitions of new columns

#### usefull creation functions with mutate
The key property of these functions must be vectorized: Takes a vector of values as input, and returns a vector with same number of values as output. 

Arithmatic operators: + - * / ^

Modular arithmatic: %/% (integer division) and %% (remainder)

Logs: log(), log2(), log10()

Offsets: lead() lag()

Cumulative and rolling aggregates: cumsum(), cumprod(), cummax(), cummin(), and dplyr::cummean()

Logical Operations: <,>,>=,<=,!=

Ranking: min_rank(x), min_rank(desc(x))

#### Note:
mutate() always add new columns at the end of your datasets.

If you just wat to keep the new variables, use transmute().

In [23]:
x = 1:10 
print( lead(x) )
print( lag(x) )

 [1]  2  3  4  5  6  7  8  9 10 NA
 [1] NA  1  2  3  4  5  6  7  8  9

In [19]:
# Example 1
library(gapminder)
library(plyr)
data(gapminder)

print("Gapminder")
head(gapminder, 3)

# add a new column called gdp to dataframe 
mutate(gapminder, gdp=pop*gdpPercap) %>% head(3)

# add a new column called gdp, and keep gdp only
transmute(gapminder, gdp=pop*gdpPercap) %>% head(3)

[1] "Gapminder"

  country     continent year lifeExp pop      gdpPercap
1 Afghanistan Asia      1952 28.801   8425333 779.4453
2 Afghanistan Asia      1957 30.332   9240934 820.8530
3 Afghanistan Asia      1962 31.997  10267083 853.1007

  country     continent year lifeExp pop      gdpPercap gdp
1 Afghanistan Asia      1952 28.801   8425333 779.4453  6567086330
2 Afghanistan Asia      1957 30.332   9240934 820.8530  7585448670
3 Afghanistan Asia      1962 31.997  10267083 853.1007  8758855797

  gdp
1 6567086330
2 7585448670
3 8758855797

## summarise {plyr}

Summarise a data frame. Summarise works in a similar way as mutate except instead of adding columns to the input data frame, it create a new data frame.

Syntax: summarise(.data, ...)

.data: data frame

#### Useful Summary Functions
Measures of location: mean(), median()

Measures of spread: sd(), IQR(), mad() - IQR() and mad() are robust equivalents that may be more useful if there are outliers.

Measures of rank: min(), max(), quantile(x, 0.25)

Measures of position: first(), nth(x, 2), last() - work similarly to x[1], x[2], and x[length(x)].

Counts: n(), n_distinct()


#### Note:
summarise() is not terribly useful unless we pair it with group_by().

In [53]:
# Example 1
library(gapminder)
library(dplyr)
data(gapminder)

gapminder.gdp = mutate(gapminder, gdp=pop*gdpPercap) 
summarise(gapminder.gdp, gdp.min=min(gdp), gdp.max=max(gdp))

  gdp.min  gdp.max
1 52784691 1.293446e+13

## select {dplyr}

Select variabels by name, and keeps only the variables you mention;

Syntax: select(.data, ...)

.data: a tabulate

...: One or more unquoted expressions separated by commas.

#### helpher functions to use within select()
starts_with("abc"): match names that begin with "abc"

ends_with("xyz"): match names that end with "xyz"

contains("ijk"): match names that contains "ijk"

matches("(.)\\1"): 

num_range("x", 1:3): matches x1, x2 and x3

#### everything() helper
It is useful to use select() in conjunction with the everything() helper if you want to move some variables to the start of the data frame.

In [18]:
# Example 1
library(gapminder)
library(dplyr)
data(gapminder)

print("Gapminder")
head(gapminder, 3)

print("Selcted Variables Country and Year")
head( select(gapminder,country, year), 3 )

print("Selcted all the Variables from year to pop (inclusive)")
head( select(gapminder, year:pop ),3)

print("Selcted all the Variables expect pop and year")
head( select(gapminder,-pop,-year ),3)

print("Move year to the 1st column")
head(select(gapminder, year, everything()),3)

[1] "Gapminder"

  country     continent year lifeExp pop      gdpPercap
1 Afghanistan Asia      1952 28.801   8425333 779.4453
2 Afghanistan Asia      1957 30.332   9240934 820.8530
3 Afghanistan Asia      1962 31.997  10267083 853.1007

[1] "Selcted Variables Country and Year"

  country     year
1 Afghanistan 1952
2 Afghanistan 1957
3 Afghanistan 1962

[1] "Selcted all the Variables from year to pop (inclusive)"

  year lifeExp pop
1 1952 28.801   8425333
2 1957 30.332   9240934
3 1962 31.997  10267083

[1] "Selcted all the Variables expect pop and year"

  country     continent lifeExp gdpPercap
1 Afghanistan Asia      28.801  779.4453
2 Afghanistan Asia      30.332  820.8530
3 Afghanistan Asia      31.997  853.1007

[1] "Move year to the 1st column"

  year country     continent lifeExp pop      gdpPercap
1 1952 Afghanistan Asia      28.801   8425333 779.4453
2 1957 Afghanistan Asia      30.332   9240934 820.8530
3 1962 Afghanistan Asia      31.997  10267083 853.1007

## filter {dplyr}

Return rows of a tabulate which satisfy matching conditions.

Syntax: filter(.data, ...)

.data: tabulate

...: logical operations

#### Comparison Operators
To use filtering effectively, you have to know how to select the observations using comparison operations.

>, >=, <, <=, !=, ==

A common problem when using == floating point numbers.

Every number you see is an approximation. Instead of relying on"==", use near().

#### Logical Operators
& and

| or

! not

xor(x, y) or but not and

x %in% y test whether x has elements of y

Note: A useful shortcut of "or" is x %in% y.

#### Missing Values
Every operations involing missing values returns missing values. filter() only includes rows where the condition is TRUE, it excludes both FALSE and NA values.

In [8]:
# Example 1: Comparison Operators
library(dplyr)
sqrt(2)^2 == 2     # floating number
near(sqrt(2)^2, 2)

[1] FALSE

[1] TRUE

In [12]:
# Example 2: Logical Operators
# x %in% y
library(gapminder)
library(dplyr)
data(gapminder)
print("Gapminder")
head(gapminder,3)
print("Filtered Gapminder")
head( filter(gapminder, year==1952 | year==1962),3 )
head( filter(gapminder, year %in% c(1952,1962) ),3 )

[1] "Gapminder"

  country     continent year lifeExp pop      gdpPercap
1 Afghanistan Asia      1952 28.801   8425333 779.4453
2 Afghanistan Asia      1957 30.332   9240934 820.8530
3 Afghanistan Asia      1962 31.997  10267083 853.1007

[1] "Filtered Gapminder"

  country     continent year lifeExp pop      gdpPercap
1 Afghanistan Asia      1952 28.801   8425333  779.4453
2 Afghanistan Asia      1962 31.997  10267083  853.1007
3 Albania     Europe    1952 55.230   1282697 1601.0561

  country     continent year lifeExp pop      gdpPercap
1 Afghanistan Asia      1952 28.801   8425333  779.4453
2 Afghanistan Asia      1962 31.997  10267083  853.1007
3 Albania     Europe    1952 55.230   1282697 1601.0561

In [14]:
# Example 3: Missing Values
df = tibble(x=c(1, NA, 3))
filter(df, x > 1)          # exclude NA values
filter(df, is.na(x) | x>1) # if want to preserve NA values

  x
1 3

  x
1 NA
2  3

In [31]:
# Example 1
library(gapminder)
library(dplyr)
data(gapminder)
print("Gapminder")
head(gapminder)
print("Filtered Gapminder")
head( filter(gapminder, year==1952 | year==1962) )

[1] "Gapminder"

  country     continent year lifeExp pop      gdpPercap
1 Afghanistan Asia      1952 28.801   8425333 779.4453
2 Afghanistan Asia      1957 30.332   9240934 820.8530
3 Afghanistan Asia      1962 31.997  10267083 853.1007
4 Afghanistan Asia      1967 34.020  11537966 836.1971
5 Afghanistan Asia      1972 36.088  13079460 739.9811
6 Afghanistan Asia      1977 38.438  14880372 786.1134

[1] "Filtered Gapminder"

  country     continent year lifeExp pop      gdpPercap
1 Afghanistan Asia      1952 28.801   8425333   779.4453
2 Albania     Europe    1952 55.230   1282697  1601.0561
3 Algeria     Africa    1952 43.077   9279525  2449.0082
4 Angola      Africa    1952 30.015   4232095  3520.6103
5 Argentina   Americas  1952 62.485  17876956  5911.3151
6 Australia   Oceania   1952 69.120   8691212 10039.5956

## rename {dplyr}

Rename variabels in a tabulte, and keeps all variables.

Syntax: rename(.data, ...)

.data: a tabulate

...: new = old, seperated by commas.

In [40]:
# Example 1
library(gapminder)
library(dplyr)
data(gapminder)

print("Gapminder")
head(gapminder)

print("Rename Variables country and year")
head( select(gapminder,COUNTRY=country, YEAR = year ) )

[1] "Gapminder"

  country     continent year lifeExp pop      gdpPercap
1 Afghanistan Asia      1952 28.801   8425333 779.4453
2 Afghanistan Asia      1957 30.332   9240934 820.8530
3 Afghanistan Asia      1962 31.997  10267083 853.1007
4 Afghanistan Asia      1967 34.020  11537966 836.1971
5 Afghanistan Asia      1972 36.088  13079460 739.9811
6 Afghanistan Asia      1977 38.438  14880372 786.1134

[1] "Rename Variables country and year"

  COUNTRY     YEAR
1 Afghanistan 1952
2 Afghanistan 1957
3 Afghanistan 1962
4 Afghanistan 1967
5 Afghanistan 1972
6 Afghanistan 1977

## group_by {dplyr} and ungroup {dplyr}

group_by() takes an existing tbl and convert it into a grouped tbl where operations are performed by group.

Syntax: group_by(.data, ..., add=FALSE); ungroup(x)

.data: a tbl

...: variables to group by

add: When add=FALSE, group_by will overwrite existing tbl

#### Note:
group_by() can group by multiple variables.

## n_distinct {dplyr}

Count the number of unique values in a set of vector.

Syntax: n_distinct(..., na.rm=FALSE)

...: vectors of values

na.rm: if na.rm=TRUE, missing values does not count

Note: n_distinct is a faster and more concise version of length(unique(x))

In [5]:
# Example 1: 
library(dplyr)
x = sample(1:10, 100, rep=TRUE)
length(unique(x))
n_distinct(x)

[1] 10

[1] 10

## n {dplyr}
n() counts the number of obervations in the current group, and can only be used from within summarise(), mutate(), filter()

Note: Whenever you do aggregation, it is always good to include either a count n() or a count of non-missing values sum(!is.na(x)). That way you can check that you are not drawing conclusions based on very small amounts of data.

In [28]:
# Example 1
library(gapminder)
library(dplyr)
data(gapminder)

print("Gapminder")
head(gapminder,3)

print("Rename Variables country and year")
head( filter(gapminder, n()<100 ) )

[1] "Gapminder"

  country     continent year lifeExp pop      gdpPercap
1 Afghanistan Asia      1952 28.801   8425333 779.4453
2 Afghanistan Asia      1957 30.332   9240934 820.8530
3 Afghanistan Asia      1962 31.997  10267083 853.1007

[1] "Rename Variables country and year"

     country continent year lifeExp pop gdpPercap

## Combining Multiple Operations with Pipe

Syntax: %>%

Pipes are a powerful tool for clearly expressing a sequence of multiple operations.The pipe, %>%, comes from the magrittr package by Stefan Milton Bache. Packages in the tidyverse load %>% for you automatically, so you don’t usually load magrittr explicitly. 

#### Note:

Missing Values: All aggregation function have an na.rm argument, which remove the missing values prior to computation.

In [1]:
# Example 1
library(gapminder)
library(dplyr)
data(gapminder)

gapminder %>% 
filter(year==2007) %>%
arrange(desc(pop)) %>% 
head

Warning message:
“package ‘dplyr’ was built under R version 3.2.5”
Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

Warning message:
“package ‘bindrcpp’ was built under R version 3.2.5”

  country       continent year lifeExp pop        gdpPercap
1 China         Asia      2007 72.961  1318683096  4959.115
2 India         Asia      2007 64.698  1110396331  2452.210
3 United States Americas  2007 78.242   301139947 42951.653
4 Indonesia     Asia      2007 70.650   223547000  3540.652
5 Brazil        Americas  2007 72.390   190010647  9065.801
6 Pakistan      Asia      2007 65.483   169270617  2605.948